@colorBody: #ffffff;
@colorText: #000000;
@colorSliderBackgraund: #333333;
@colorTab: #e6e6e6;

@import url('header.less');
@import url('goods-block.less');
@import url('info-block.less');
@import url('location.less');
@import url('popup.less');

body {
	font-size: 16px;
	box-sizing: border-box;
	background-color: @colorBody;
	color: @colorText;
}
.conteiner {
	margin: auto;
	max-width: 1200px;
}
.btn {
	background-color: @colorBody!important;
    border: 1px solid black!important;
	border-radius: 0px!important;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

// footer
footer {
	border-top: 1px solid @colorSliderBackgraund;
	padding: 20px 0;
}
.footer-title {
	margin-bottom: 30px;
	font-weight: bold;
}
.item-link {
	color: @colorText;
}