<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Online Shop</title>

	<link rel="stylesheet" type="text/css" href="assets/style/reset.css">
	<link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="public/assets/style/style.css">
</head>
<body>
<!-- 	header -->
	<header class="page-header">
		<div class="conteiner">
			<div class="row header">
				<div class="col-md-12">
					<div class="button-wrap">
      					<a class="search magnifier" data-toggle="modal" data-target="#myModal"></a>

						<div class="basket-wrapper">
        					<a href="#" class="cart-button">
          						<span class="cart-button-quantity"></span>
        					</a>
      					</div>


					</div>
				</div>
				<div class="col-md-12">
					<div class="logo"></div>
				</div>
				<menu class="col-md-12 header-nav">
					<nav class="header-nav__list">
						<a href="#" class="header-nav__list-item">Men</a>
						<a href="#" class="header-nav__list-item">Women</a>
						<a href="#" class="header-nav__list-item">Couple</a>
						<a href="#" class="header-nav__list-item">Accessories</a>
						<a href="#" class="header-nav__list-item">Journal</a>
						<a href="#" class="header-nav__list-item">Story</a>
					</nav>
				</menu>
			</div>
		</div>
	</header>
	<!-- slider -->
	<div class="container-fluid slider-wrap">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
  			<div class="carousel-inner"></div>

			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    			<span class="glyphicon glyphicon-chevron-left"></span>
    			<span class="sr-only">Previous</span>
			</a>
			  
  			<a class="right carousel-control" href="#myCarousel" data-slide="next">
    			<span class="glyphicon glyphicon-chevron-right"></span>
    			<span class="sr-only">Next</span>
  			</a>
		</div>
	</div>

	<main class="page-main">
		<div class="main-background">
        	<div class="container">
          		<div class="tab-nav row">
            		<div class="tab-nav__item col-sm-6">
              			<h1 class="tab-nav__item-title">watches</h1>
              			<p class="tab-nav__item-text">A slim timepiece sits on your wrist.</p>
              			<a class="tab-nav__item-btn button-item1" href="#home" aria-controls="profile" role="tab" data-toggle="tab">shop now</a>
            		</div>
            		<div class="tab-nav__item col-sm-6">
              			<h1 class="tab-nav__item-title">Accessories</h1>
              			<p class="tab-nav__item-text">A slim timepiece sits on your wrist.</p>
              			<a class="tab-nav__item-btn button-item2" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">shop now</a>
            		</div>
          		</div>
        	</div>
    	</div>
    	<div class="container">
      		<div class="tab-content">
        		<div role="tabpanel" class="tab-pane fade in active" id="home"></div>

        		<div role="tabpanel" class="tab-pane fade" id="profile"></div>
      		</div>
    	</div>

		<section class="info-block">
			<div class="container">
				<div class="row info-wrap"></div>
			</div>
		</section>
		<section class="location">
			<div class="container">
				<div class="row">
					<div class="location-map col-sm-12 col-md-8">
   						<iframe 
   							src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2965.0824050173574!2d-93.63905729999999!3d41.998507000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sWebFilings%2C+University+Boulevard%2C+Ames%2C+IA!5e0!3m2!1sen!2sus!4v1390839289319" 
   							width="100%" height="400" frameborder="0" style="border:0">
   						</iframe>
					</div>
					<div class="location-form col-sm-12 col-md-4">
						<div class="dropdown show">
							<p class="dropdown-title">Coose contry</p>
							<a class="btn-title btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    United States
						  	</a>

						  	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						    	<a class="dropdown-item" href="">United States</a>
						    	<a class="dropdown-item" href="">Ukraine</a>
						    	<a class="dropdown-item" href="">Russia</a>
						  	</div>
						</div>
						<form class="form-inline">
							<p class="dropdown-title">Enter city or address</p>
							<label class="sr-only" for="inlineFormInput">Name</label>
							<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="">
						  	<button type="submit" class="btn-choose">Go</button>
						  	<p class="dropdown-title__buttom">Showing 617 stores</p>
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h4 class="footer-title">How can we help you</h4>
					<ul compact="footer-list">
						<li class="footer-list__item">
							<a class="item-link" href="#">Login Sign up</a>
						</li>
						<li class="footer-list__item">
							<a class="item-link" href="#">Contact us</a>
						</li>
						<li class="footer-list__item">
							<a class="item-link" href="#">Find a store</a>
						</li>
						<li class="footer-list__item">
							<a class="item-link" href="#">Terms of use</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					<h4 class="footer-title">Title</h4>
					<ul compact="footer-list">
						<li class="footer-list__item">
							<a class="item-link" href="#">FAQ</a>
						</li>
						<li class="footer-list__item">
							<a class="item-link" href="#">Delivery</a>
						</li>
						<li class="footer-list__item">
							<a class="item-link" href="#">Our story</a>
						</li>
						<li class="footer-list__item">
							<a class="item-link" href="#">Privacy policy</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					<h4 class="footer-title">Follow us</h4>
					<ul compact="footer-list">
						<li class="footer-list__item">
							<a class="item-link" href="#">Facebook</a>
						</li>
						<li class="footer-list__item">
							<a class="item-link" href="#">Instagram</a>
						</li>
						<li class="footer-list__item">
							<a class="item-link" href="#">Pinterest</a>
						</li>
						<li class="footer-list__item">
							<a class="item-link" href="#">Twitter</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					<h4 class="footer-title">Subscribe</h4>
					<ul compact="footer-list">
						<li class="footer-list__item">
							<p class="item-text">
								Get the news,<br>
								great offers and campaigns to your email.
							</p>
						</li>
						<li class="footer-list__item">
							<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="your email address">
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

	<div class="popup-box ">
		<div class="popup">
			<div class="popup__close-btn"></div>
			<div class="popup__content"></div>
		</div>
	</div>

	<!-- Slider item template -->
	<script id="slider-item-template" type="text/template">
		<div class="item <%= isActive ? 'active' : '' %>">
			<img class="slide-icon" src="<%= image %>" alt="<%= altText %>">
	  </div>
	</script>

	<!-- Product item template -->
	<script id="product-item-template" type="text/template">
		<div class="product-item col-sm-3 col-md-3 <%= type%>" id="<%= id %>">
			<img class="product-item__icon" src="<%= image %>">
			<p class="product-item__title"><%= brand %></p>
			<p class="product-item__model"><%= model %></p>
			<p class="product-item__price">$<%= price %></p>
			<a href="#" class="cart-buy-button" data-name="<%= model %>" data-price="<%= price %>" data-quantity="1"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Вuy</a>
		</div>
	</script>

	<script id="product-popup-temlate" type="text/template">
		<div class="product">
			<img src="<%= image %>" class="product__photo">
			<div class="product__info">
				<h1 class="product__brand"><%= brand %></h1>
				<p class="product__name"><%= model %></p>
				<p class="product__description"><%= description %></p>
				<p class="product__price"><%= price %></p>
				<div class="shop-btn">By now</div>
			</div>
		</div>
	</script>

	<!-- Info item template -->
	<script id="info-item-template" type="text/template">
		<div class="info-block__item" id="<%= id %>">
			<img src="<%= image %>">
			<h2 class="info-block__title"><%= name %></h2>
			<p class="info-block__description"><%= isPopup ? description : description.slice(0, 50) + '...' %></p>
			<a class="show-more" data-toggle="modal" data-target="#myModal">More</a>
		</div>
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src='libs/bootstrap-3.3.7-dist/js/bootstrap.js'></script>
	<script type="text/javascript" src='libs/bootstrap-3.3.7-dist/js/bootstrap.min.js'></script>
	<script type="text/javascript" src="libs/salejs/cart.js"></script>
	<script type="text/javascript" src="./node_modules/lodash/lodash.js"></script>
	<script src="assets/js/main.js"></script>
	<script>
  		cartjs.initialize({
	    	emailOrdersTo  : 'pavelzacharchenko@gmail.com',
	    	language       : 'english',                 
	    	currency       : 'usd.',                    

	    	requireName    : true,  
	    	requirePhone   : true,      
	    	requireEmail   : false,   
	    	requireAddress : false,   
  		})
	</script>
</body>
</html>