.page-header {
	border: none;
	margin: 0px 0 20px 0px;
}
// header
.button-wrap {
	display: flex;
	justify-content: flex-end;
}
.search {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid @colorText;
	border-top: none;
	&:not(:last-child) {
		margin-right: 20px;
	}
	&:hover {
		box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
	}
}
.magnifier {
	background: url(../img/circle.png) center no-repeat;
}
// корзина JS
.basket-wrapper{
	overflow: hidden;
	border: 1px solid @colorText;
	border-top: none;
	&:hover {
		box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
	}
}
.cart-button{
	display: inline-block;
	// max-width: 240px;
	padding: 4px 20px;
	text-align: right;
	color: @colorText;
	position: relative;
	&:hover, &:focus {
		text-decoration: none;
	}
	&:before {
		content: "";
		position: absolute;
		background: url(../img/slice-8.png) left no-repeat;
	    background-size: 100% 100%;
	    width: 11px;
	    height: 11px;
	    top: 8px;
	    left: 5px;
	}
}

.popover{
  position: fixed!important;
}
.logo {
	margin: auto;
	width: 170px;
	height: 70px;
	background-color: red;
	margin-top: 20px;
    margin-bottom: 20px;;
}
.header-nav__list {
	text-align: center;
	margin: 20px 0;
}
.header-nav__list-item {
	color: @colorText;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	&:not(:last-child) {
		margin-right: 50px; 
	}
}
// slider 
.slider-wrap {
	background-color: @colorSliderBackgraund;
	img {
		margin: auto;
	}
}