/*info-block*/
.info-block {
  width: 100%;
  background-color: #e6e6e6;
  padding: 50px 0px;
}
.info-block__item {
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
}
.info-block__item:not(:last-child) {
  margin-right: 145px;
}
.info-block__title {
  text-transform: uppercase;
}
.info-block__description {
  margin-top: 40px;
  position: relative;
}
.info-block__description:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 10px;
  color: red;
  top: 0;
}
