.page-header {
  border: none;
  margin: 0px 0 20px 0px;
}
.button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.search {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  border-top: none;
}
.search:not(:last-child) {
  margin-right: 20px;
}
.search:hover {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
}
.magnifier {
  background: url(../img/circle.png) center no-repeat;
}
.basket-wrapper {
  overflow: hidden;
  border: 1px solid #000000;
  border-top: none;
}
.basket-wrapper:hover {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
}
.cart-button {
  display: inline-block;
  padding: 4px 20px;
  text-align: right;
  color: #000000;
  position: relative;
}
.cart-button:hover,
.cart-button:focus {
  text-decoration: none;
}
.cart-button:before {
  content: "";
  position: absolute;
  background: url(../img/slice-8.png) left no-repeat;
  background-size: 100% 100%;
  width: 11px;
  height: 11px;
  top: 8px;
  left: 5px;
}
.popover {
  position: fixed!important;
}
.logo {
  margin: auto;
  width: 170px;
  height: 70px;
  background-color: red;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header-nav__list {
  text-align: center;
  margin: 20px 0;
}
.header-nav__list-item {
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
.header-nav__list-item:not(:last-child) {
  margin-right: 50px;
}
.slider-wrap {
  background-color: #333333;
}
.slider-wrap img {
  margin: auto;
}
.main-background {
  width: 100%;
  background-color: #e6e6e6;
}
.tab-nav {
  padding-top: 50px;
}
.tab-nav__item {
  padding: 50px;
  cursor: pointer;
}
.tab-nav__item:hover {
  background-color: #ffffff;
}
.tab-nav__item-title {
  text-transform: uppercase;
  font-size: 42px;
}
.tab-nav__item-text {
  margin-bottom: 30px;
}
.tab-nav__item-btn {
  text-transform: uppercase;
  padding: 10px 30px;
  border: 1px solid #000000;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}
.product-item {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 20px 0;
}
.product-item:hover {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
}
.product-item__icon {
  margin-bottom: 20px;
}
.tab-content {
  margin: 50px 0px;
}
.cart-buy-button {
  padding: 5px;
  border: 1px solid #000000;
  color: #000000;
}
/*info-block*/
.info-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info-block {
  width: 100%;
  background-color: #e6e6e6;
  padding: 50px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.info-block__item {
  width: 30%;
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
}
.info-block__item:not(:last-child) {
  margin-right: 145px;
}
.info-block__title {
  text-transform: uppercase;
}
.info-block__description {
  margin-top: 40px;
  position: relative;
}
.info-block__description:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 10px;
  color: red;
  top: 0;
}
.show-more {
  padding: 5px;
  border: 1px solid #000000;
  color: #000000;
  cursor: pointer;
}
/*location*/
.location {
  padding: 50px 0px;
}
.dropdown-title {
  margin-bottom: 10px;
}
.btn-title {
  color: #000000;
  border: 1px solid black;
  padding: 5px;
  border-radius: 0% !important;
}
.btn-title:hover {
  color: black;
}
.dropdown-item {
  display: block;
  padding: 5px;
  color: black;
  text-decoration: none;
}
.form-inline {
  margin-top: 50px;
}
.dropdown-title__buttom {
  font-size: 15px;
  margin-top: 50px;
}
input {
  color: #000000;
  border: 1px solid black !important;
  padding: 5px;
  border-radius: 0% !important;
  width: 70px;
  height: 40px;
}
.btn-choose {
  color: #ffffff;
  border: 1px solid black !important;
  padding: 5px;
  border-radius: 0% !important;
  background-color: #000000;
  width: 70px;
  height: 35px;
}
body {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  color: #000000;
}
.conteiner {
  margin: auto;
  max-width: 1200px;
}
footer {
  border-top: 1px solid #333333;
  padding: 20px 0;
}
.footer-title {
  margin-bottom: 30px;
  font-weight: bold;
}
.item-link {
  color: #000000;
}
